body{
    margin-top: 10vh;
    margin-right: 0;
    margin-left: 0;
    background-color: rgb(45, 45, 78);
    color: white;
    font-family: 'Major Mono Display', 'Courier New', Courier, monospace;
}