.cryptids-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cryptid-item {
    text-align: center;
    height: auto;
    flex: 1 1 1;
    flex-direction: row;
    padding: 1%;
    max-width: 20vw;
    min-width: 20vw;
}
.cryptid-image {
    max-width: 20vw;
    min-width: 20vw;
    filter: grayscale();
}
.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tag-name {
    background-color: white;
    color: rgb(25, 25, 49);
    width: 5vw;
    border-radius: 1em;
    padding: 2%;
    text-align: center;
    margin: 1%;
    place-self: center;
}
.tag-border{
    margin-right: 1%;
}
a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    opacity: 0.75;
}
.cryptid-name {
    font-size: 3.5vh;
    margin: 0;
    text-transform: lowercase;
}