.cryptids-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cryptid-item {
    text-align: center;
    height: auto;
    flex: 1 1 1;
    flex-direction: row;
    padding: 1%;
    max-width: 20vw;
    min-width: 20vw;
}
.cryptid-name {
    font-size: 4vh;
    text-decoration: none;
}
.cryptid-image {
    max-width: 20vw;
    min-width: 20vw;
    filter: grayscale();
}
.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.tag-name {
    background-color: white;
    color: rgb(25, 25, 49);
    width: 5vw;
    border-radius: 1em;
    padding: 2%;
    text-align: center;
    margin: 1%;
    place-self: center;
}

body{
    background-color: rgb(25, 25, 49);
    color: white;
}
a{
    color: white;
    cursor: url('./cyanPointer.png'), auto;
}
a:hover {
    opacity: 0.75;
}