body {
    margin: 0 auto;
    box-sizing: border-box;
}
.map-header {
    text-align: center;
}

/*MAP DIV CONTAINER*/
.map {
    width: 90vw;
    height: 80vh;
    overflow: hidden;
}
/*TEMPLATE*/
.world {
    margin: 0 auto;
    opacity: 50%;
}

/*TOP 3*/
.europe {
    position: fixed;
    right: 52.6vw;
    top: 14vw;
    z-index: 5;
    width: 14.7%;
}

.asia {
    position: fixed;
    right: 33vw;
    top: 13.4vw;
    z-index: 1;
    width: 25.6%;
}

.northamerica {
    position: fixed;
    right: 64.7vw;
    top: 12.6vw;
    z-index: 2;
    width: 31.7%;
}
/*BOTTOM 3*/
.africa {
    position: fixed;
    right: 53vw;
    top: 28.4vw;
    z-index: 3;
    width: 13.8%;
}

.southamerica {
    position: fixed;
    right: 70vw;
    top: 33.2vw;
    z-index: 5;
    width: 9.2%;
}

.australia {
    position: fixed;
    right: 25.97vw;
    top: 32.8vw;
    width: 16%;
}

/*INTERACTIONS - HOVER */
.europe:hover, .asia:hover, .northamerica:hover, .africa:hover, .southamerica:hover, .australia:hover {
    filter: contrast(100%) hue-rotate(200deg) saturate(530%);
    cursor: pointer;
}
